<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    작성자: 구경림
    작성일: 2024.12.01
    파일 설명:
    사용자 로그인 관련 MyBatis 매퍼
-->
<mapper namespace="org.green.career.dao.login.LoginDao">
    <select id="findUserForLogin" parameterType="String" resultType="org.green.career.dto.login.UserLoginDto">
        SELECT id, name, pw, user_gbn_cd
        FROM tbl_user
        WHERE id = #{id} AND use_yn = 'Y' AND user_gbn_cd =  #{userGbnCd}
    </select>
    <insert id="registCompany">
        INSERT INTO tbl_user (id, pw, name, email, user_gbn_cd, birth, phone, addr, addr2, zip_cd)
        VALUES
            (#{user.id}, #{user.pw}, #{user.name}, #{user.email}, "C", #{user.birth}, #{user.phone}, #{user.addr}, #{user.addr2}, #{user.zip_cd});
    </insert>
</mapper>
