<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <title>웹페이지 제목</title>
        <link rel="stylesheet" href="/static/css/common/common.css" ></link>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            *{
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div th:fragment="heder_company">
            <div class="flex-end mt30 w90p mar-center flex-center ">
                <div class="flex-row  flex-center">
                    <h3 class="fs-16 mr20">그린아카데미 회사임</h3>
                    <img class="h35" src="/static/images/default_profile.png" alt="profile" />
                </div>
            </div>
        </div>
    </body>
</html>