<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <title>웹페이지 제목</title>
        <link rel="stylesheet" href="/static/css/common/common.css" ></link>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

        <style>
            *{
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div class="flex-space-between mt30 w90p mar-center flex-center ">
            <img class="h60" src="/static/images/logo_company.png" alt="logo" />
            <div class="flex-row flex-center ">
                <h3 class="fs-16 mr20">한우성</h3>
                <img class="h35" src="/static/images/default_profile.png" alt="profile" />
            </div>
            <!--TODO: 미 회원 세션 로그인 후 구현 할 것 -->
      <!--      <div class="flex-row flex-center ">
                <h3 class="fs-16 mr20">로그인</h3>
                <h3 class="fs-16 mr20">｜</h3>
                <h3 class="fs-16 mr20">회원가입</h3>
                <img class="h35" src="/static/images/default_profile.png" alt="profile" />
            </div>-->
        </div>
    </body>
</html>