<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/layout/side.css">
    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
    <body>

        <div class="w300 h100vh bg-black">
            <div class="text-center pt50">
                <img class="w120" src="/static/images/logo_company.png">
            </div>
            <ul>

            </ul>
        </div>


    </body>
</html>