<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    작성자: 구경림
    작성일: 2024.12.03
    파일 설명:
    이력서 관련 MyBatis 매퍼
-->
<mapper namespace="org.green.career.dao.resume.ResumeDao">
    <select id="getUserInfo" parameterType="String" resultType="org.green.career.dto.resume.ResumeDto">
        SELECT
            name, birth, email,phone, addr
        FROM
            tbl_user
        WHERE
            id = #{id}
    </select>

    <insert id = "regist">

    </insert>
</mapper>
