<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- MyBatis 설정 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <!-- 타입 별칭 설정 -->
    <typeAliases>
        <package name="org.green.career.dto"/>
        <package name="org.green.career.dto.jobopen"/>
        <package name="org.green.career.dto.common"/>

    </typeAliases>



</configuration>
