<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/static/css/layout/theme.css}">
    <title>Human</title>
</head>
<body>
<!--Header 영역을 참조합니다.-->
<div th:replace="~{/layout-test/parts/header :: header(
            ${#httpSession != null and #httpSession.getAttribute('userType') != null ?
            #httpSession.getAttribute('userType') : '비회원'}
        )}"></div>

<!--Content 내용 영역을 참조합니다-->
<th:block class="container" layout:fragment="content">

</th:block>

<!--Footer 영역을 참조합니다.-->
<div th:replace="/layout-test/parts/footer::footer"></div>
</body>
</html>
