<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/css/jobseeker/mypage/bookmark.css">
    </head>
    <body>

        <div class="flex-row">
            <div class="w300" th:insert="~{layout/user_side}"></div>
            <div class="flex-column flex1">
                <div th:insert="~{layout/header_no_logo}"></div>
                <div class="content pl50 pt50 pb50">
                    <div class="content-title font-bold">
                        <span>북마크한 기업 목록</span>
                    </div>
                    <div class="content-detail">
                        <div class="list-wrap">
                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>

                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>

                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="list-img">
                                    <img>
                                </div>
                                <div class="list-content">
                                    <div>
                                        <span class="font-bold fs-20">박명수</span>
                                        <span class="list-age">(22)</span>
                                    </div>
                                    <div>
                                        <span class="list-addr">부산광역시 부산진구 중앙대로 749</span>
                                    </div>
                                    <div class="list-item">
                                        <span>대표 이력서</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:insert="~{layout/footer}"></footer>
    </body>
</html>
