<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.green.career.dao.jobseeker.mypage.SeekerOfferDao">

    <select id="selectOffer">
        SELECT a.c_id,
               a.u_id,
               a.o_dt,
               b.name,
               b.addr,
               b.phone,
               c.c_business,
               IFNULL(d.file_id, '')   AS file_id,
               IFNULL(d.file_name, '') AS file_name,
               IFNULL(d.file_ext, '')  AS file_ext,
               IFNULL(d.file_url, '')  AS file_url
        FROM tbl_offer a
                 LEFT JOIN tbl_user b ON a.u_id = b.id
                 LEFT JOIN tbl_company c ON a.c_id = c.id
                 LEFT JOIN tbl_file d ON a.c_id = d.file_ref_id AND d.file_gbn_cd = '10'
        WHERE use_yn = 'Y'
          AND a.u_id = #{id}
          AND b.name LIKE CONCAT('%', #{search}, '%')
        GROUP BY a.c_id
        ORDER BY a.o_dt DESC
            LIMIT #{offset}, #{limit};
    </select>

    <select id="selectOfferCount">
        SELECT COUNT(*) AS total_count
        FROM (SELECT a.c_id
              FROM tbl_offer a
                       LEFT JOIN tbl_user b ON a.u_id = b.id
                       LEFT JOIN tbl_company c ON a.c_id = c.id
                       LEFT JOIN tbl_file d ON a.c_id = d.file_ref_id AND d.file_gbn_cd = '10'
              WHERE use_yn = 'Y'
                AND a.u_id = #{id}
                AND b.name LIKE CONCAT('%', #{search}, '%')
              GROUP BY a.c_id
        ) AS f;
    </select>


</mapper>