<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.green.career.dao.jobseeker.mypage.StackDao">

    <!-- 스킬 목록 조회 -->
    <select id="findSkillList" resultType="org.green.career.dto.common.CodeInfoDto">
        SELECT *
        FROM tbl_codeinfo
        WHERE up_cd IN (SELECT cd
                        FROM tbl_codeinfo
                        WHERE up_cd = 'stack_cd')
           OR up_cd = 'stack_cd';
    </select>

    <!-- 채용 공고 리스트 조회 -->
    <select id="findJobOpeningList" resultType="org.green.career.dto.jobopen.requset.JobOpeningResponseDto">
        SELECT a.*,
               COALESCE(GROUP_CONCAT(DISTINCT b.stack_cd ORDER BY b.stack_cd SEPARATOR ','), '') AS skills,
               COALESCE(f.file_url, '')                                                          AS fileUrl,
               COUNT(g.l_no)                                                                     AS scrapCnt,
               COUNT(h.l_no)                                                                     AS bookmarkCnt
        FROM tbl_job_open a
                 LEFT JOIN tbl_job_open_stack b ON a.j_no = b.j_no
                 LEFT JOIN tbl_file f ON a.id = f.file_ref_id AND f.file_gbn_cd = 100
                 LEFT JOIN tbl_likes g ON a.j_no = g.cj_no AND g.l_gbn_cd = 'S' AND g.id = 'user1'
                 LEFT JOIN tbl_likes h ON a.j_no = h.cj_no AND h.l_gbn_cd = 'B' AND h.id = 'user1'
        GROUP BY a.j_no
            LIMIT #{offset}, #{limit};
    </select>

    <!-- 검색 조건에 따른 공고 리스트 조회 -->
    <select id="searchJobOpenings" resultType="org.green.career.dto.jobopen.requset.JobOpeningResponseDto">
        SELECT
        a.*,
        COALESCE((SELECT GROUP_CONCAT(DISTINCT b1.stack_cd ORDER BY b1.stack_cd SEPARATOR ',')
        FROM tbl_job_open_stack b1
        WHERE b1.j_no = a.j_no), '') AS skills,
        COALESCE(f.file_url, '') AS fileUrl
        FROM tbl_job_open a
        LEFT JOIN tbl_file f ON a.id = f.file_ref_id AND f.file_gbn_cd = 100
        WHERE
        (a.j_title LIKE CONCAT('%', #{searchText}, '%') OR a.j_content LIKE CONCAT('%', #{searchText}, '%'))
        <if test="skills != null and skills.size() > 0">
            AND EXISTS (
            SELECT 1 FROM tbl_job_open_stack b2 WHERE b2.j_no = a.j_no AND b2.stack_cd IN
            <foreach item="skill" collection="skills" open="(" close=")" separator=",">#{skill}</foreach>
            )
        </if>
        GROUP BY a.j_no
        LIMIT #{offset}, #{limit};
    </select>

    <!-- 전체 공고 개수 조회 -->
    <select id="countJobOpenings" resultType="int">
        SELECT COUNT(*)
        FROM tbl_job_open;
    </select>

    <!-- 검색 조건에 따른 공고 개수 조회 -->
    <select id="countSearchJobOpenings" resultType="int">
        SELECT COUNT(DISTINCT a.j_no)
        FROM tbl_job_open a
        LEFT JOIN tbl_job_open_stack b ON a.j_no = b.j_no
        WHERE
        (a.j_title LIKE CONCAT('%', #{searchText}, '%') OR a.j_content LIKE CONCAT('%', #{searchText}, '%'))
        <if test="skills != null and skills.size() > 0">
            AND b.stack_cd IN
            <foreach item="skill" collection="skills" open="(" close=")" separator=",">#{skill}</foreach>
        </if>
        ;
    </select>

</mapper>
