<!DOCTYPE html>
<!--
    작성자: 구경림
    작성일: 2024.12.01
    파일 설명:
    메인페이지 레이아웃 템플릿
    사용자 유형(session.userType)에 따라 동적으로 사이드바와 헤더를 표시,
    Content 영역은 각 페이지에서 layout:fragment="content"를 통해 작성

    1. Sidebar:
      - 사용자 유형에 따라 동적 사이드바를 로드.
      - 비회원인 경우 기본 사이드바 표시.
    2. Header:
      - 마이페이지 전용 헤더를 동적으로 로드.
      - 사용자 유형에 따라 헤더 내용 변경.
    3. Content:
      - 개별 페이지에서 layout:fragment="content"로 대체.
    4. Footer:
      - 공통 푸터를 로드.
    공통 스타일은 common.css와 theme.css를 통해 관리
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/static/css/main/index.css">
  <link rel="stylesheet" href="/static/css/common/skillBox.css">
  <link rel="stylesheet" href="/static/css/common/paging.css">
  <link rel="stylesheet" href="/static/css/company/checkbox.css">
  <link rel="stylesheet" th:href="@{/static/css/common/common.css}">
  <link rel="stylesheet" th:href="@{/static/css/layout/theme.css}">
  <script src="/static/js/company/companyModify.js"></script>
  <title>Human</title>
  <style>
    .form-group {
      margin-bottom: 20px;
    }
    .cno{
      background-color: gray;
      width: 400px;
      color: white;
      border-radius: 5px;
    }
    .cno::placeholder{
      color: white;
    }
    .homepage{
      background-color: gray;
      width: 400px;
      color: white;
      border-radius: 5px;
    }
    .homepage::placeholder{
      color: white;
    }
    .cDetail{
      background-color: gray;
      width: 400px;
      height: 150px;
      color: white;
      border-radius: 5px;
    }
    .cDetail::placeholder{
      line-height: 140px;
      color: white;
    }
    .add-button{
      margin-bottom: 10px;
    }
    .submit-button{
      margin-top: 10px;
      background-color: cornflowerblue;
      width: 400px;
      height: 50px;
      border-radius: 10px;
      color: white;
    }
    .dynamic-group{
      margin-bottom: 10px;
    }
    button{
      background-color: cornflowerblue;
      border-radius: 10px;
      color: white;
    }
    .firstInput{
      background-color: gray;
      width: 100px;
      color: white;
    }
    .firstInput::placeholder{
      color: white;
    }
    .secondInput{
      background-color: gray;
      width: 250px;
      color: white;
    }
    .secondInput::placeholder{
      color: white;
    }
    .previewContainer{
      margin-top: 10px;
      margin-bottom: 10px;
    }

  </style>
</head>
<body>
<div class="mypage-layout">
  <!-- Sidebar 영역 -->
  <div th:replace="~{/layout-test/parts/sidebar :: sidebar(
            ${session.userType != null ? session.userType : '비회원'}
        )}" >
  </div>
  <div class="mypage-container">
    <!-- Header 영역 -->
    <div th:replace="~{/layout-test/parts/header_mypage :: headerMypage(
            ${session.userType != null ? session.userType : '비회원'}
        )}">
    </div>
    <!-- Content 영역 -->
    <div class="mypage-content" layout:fragment="content">
      <div class="main-content">
        <form th:action="@{/companyMD}" method="post" enctype="multipart/form-data" id="compantForm" onsubmit="return submitForm()">
          <input type="hidden" name="id" th:value="${company.id}">
          <input type="hidden" name="size" th:value="${size}">
          <div class="form-group">
            <input type="text" name="cno" id="cno" class="cno" placeholder="사업자 등록번호" th:value="${company.cno}">
            <span id="cnoMessage"></span>
          </div>
          <div class="form-group">
            <div class="checkbox-group">
              <input type="radio" name="cGbnCd" id="L">
              <label class="cGbnCd" for="L">대기업</label>
              <input type="radio" name="cGbnCd" value="M" id="M">
              <label class="cGbnCd" for="M">중견기업</label>
              <input type="radio" name="cGbnCd" value="S" id="S">
              <label class="cGbnCd" for="S">중소기업</label>
            </div>
          </div>
          <div class="form-group">
            <input type="text" name="homepage" class="homepage" placeholder="홈페이지" id="homepage" th:value="${company.homepage}">
          </div>
          <div class="form-group">
            <textarea class="cDetail" name="cDetail" placeholder="기업 소개" id="cDetail">[[${company.cDetail}]]</textarea>
          </div>
          <div class="form-group">
            <input type="text" name="cCnt" class="cno" placeholder="현재 사원수" id="cCnt" th:value="${company.cCnt}">
          </div>
          <div class="form-group">
            <input type="text" name="cBusiness" class="cno" placeholder="주요 업무" id="cBusiness" th:value="${company.cBusiness}">
          </div>
          <div class="form-group" id="pImageGroup">
            <th:block th:if="${company.fileUrl == null}">
                <label>대표 이미지</label>
                <input type="file" name="pImage" accept="image/*" onchange="ImageInfo(event)">
                <button type="button" onclick="removeImageP();"><span>삭제</span></button>
                <div class="previewContainer"></div>
            </th:block>
            <th:block th:if="${company.fileUrl != null}">
                <label>대표 이미지</label>
                <input type="file" name="pImage" accept="image/*" onchange="ImageInfo(event)">
                <button type="button" onclick="removeImageP();"><span>삭제</span></button>
                <div class="previewContainer">
                  <img th:src="@{${company.fileUrl}}">
                  <input type="hidden" name="fileUrl" th:value="${company.fileUrl}">
                  <input type="hidden" name="fileName" th:value="${company.fileName}">
                </div>
            </th:block>
          </div>

          <div class="sub_Image">
            <th:block th:if="${company.fileUrl == null}">
              <div class="form-group" id="firstImageGroup">
                <label for="sImage">기업 이미지</label>
                <button type="button" onclick="addImage(this);"><span>파일 추가</span></button>
                <br>
                <input type="file" name="sImage" id="sImage" onchange="ImageInfo(event)" accept="image/*" th:value="">
                <button type="button" onclick="removeImageFirts();"><span>삭제</span></button>
                <div class="previewContainer"></div>
              </div>
            </th:block>
            <th:block th:if="${company.fileUrls != null}">
              <div class="form-group">
                <label>기업 이미지</label>
                <input type="file" name="sImage" accept="image/*" onchange="ImageInfo(event)">
                <button type="button" onclick="addImage(this);"><span>파일 추가</span></button>
                <th:block th:each="file, iterStat : ${company.fileUrls}">
                  <div class="previewContainer">
                    <img th:src="@{${file}}">
                    <input type="hidden" name="fileUrls" th:value="${file}">
                    <input type="hidden" name="fileNames" th:value="${company.fileName[iterStat.index]}">
                    <button type="button" th:onclick="${fun[iterStat.index]}';'"><span>삭제</span></button>
                  </div>
                </th:block>
              </div>
            </th:block>
          </div>
          <div class="form-group">
            <label>연혁</label>
            <button type="button" class="add-button" id="addHistoryBtn">추가</button>
            <div id="historyContainer">
              <th:block th:if="${company.historyYear == null}">
                <div class="dynamic-group">
                  <input type="text" placeholder="연-월" oninput="addDate(event)" class="firstInput historyY">
                  <input type="hidden" name="historyYear">
                  <input type="text" name="historyTxt" placeholder="연혁 내용" class="secondInput">
                  <div class="hMessage"></div>
                </div>
              </th:block>
              <th:block th:if="${company.historyYear != null}">
                <th:block th:each="history, iterStat : ${company.historyYear}">
                  <div class="dynamic-group">
                    <input type="text" placeholder="연-월" oninput="addDate(event)" class="firstInput historyY" th:value="${history}">
                    <input type="hidden" name="historyYear" th:value="${historys[iterStat.index]}">
                    <input type="text" name="historyTxt" placeholder="연혁 내용" class="secondInput" th:value="${company.historyTxt[iterStat.index]}">
                    <button type="button" onclick="removeHistory(this);"><span>삭제</span></button>
                    <div class="hMessage"></div>
                  </div>
                </th:block>
              </th:block>
            </div>
          </div>
          <div class="form-group">
            <label>매출액</label>&nbsp;&nbsp; *(억)
            <button type="button" class="add-button" id="addRevenueBtn">추가</button>
            <div id="revenueContainer">
              <th:block th:if="${company.salesYear == null}">
                  <div class="dynamic-group">
                    <input type="text" placeholder="연도" oninput="addSales(event)" class="firstInput saleY">
                    <input type="hidden" name="salesYear">
                    <input type="text" name="salesTxt" placeholder="매출액" class="secondInput">
                    <div class="sMessage"></div>
                  </div>
              </th:block>
              <th:block th:if="${company.salesYear != null}">
                <th:block th:each="sale, iterStat : ${company.salesYear}">
                  <div class="dynamic-group">
                    <input type="text" placeholder="연도" oninput="addSales(event)" class="firstInput saleY" th:value="${sale}">
                    <input type="hidden" name="salesYear" th:value="${sales[iterStat.index]}">
                    <input type="text" name="salesTxt" placeholder="매출액" class="secondInput" th:value="${company.salesTxt[iterStat.index]}">
                    <button type="button" onclick="removeSales(this);"><span>삭제</span></button>
                    <div class="sMessage"></div>
                  </div>
                </th:block>
              </th:block>
            </div>
            <input type="submit" value="기업 정보 수정" class="submit-button">
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<!-- Footer 영역 -->
<div th:replace="~{/layout-test/parts/footer :: footer}"></div>
</body>
</html>
<script>
  console.log('Input event fired');
  $(function () {
    // 사업자 등록번호 입력 처리
    $('.cno').on('input', function () {
      let input = $(this).val();
      let formattedInput = input
              .replace(/[^0-9]/g, '') // 숫자만 허용
              .substr(0, 10); // 최대 10자리 제한
      $(this).val(formattedInput);
    });

    $('.cno').on('blur', function () {
      console.log('Blur event fired for .cno');
      let input = $(this).val();
      if (input.length !== 10) {
        $('.cnoMessage').text('유효하지 않은 사업자 등록 번호입니다. 다시 입력해 주세요.').css('color', 'red');
        $(this).val('');
      } else {
        $('.cnoMessage').text('유효한 사업자 등록 번호입니다.').css('color', 'green');
      }
    });

    $('.cno').on('keypress', function (event) {
      if (!/[0-9]/.test(String.fromCharCode(event.which))) {
        event.preventDefault();
      }
    });

    // YYYY-MM 형식 입력 처리
    $('.historyY').on('input', function () {
      let input = $(this).val();
      let formattedInput = input
              .replace(/[^0-9]/g, '') // 숫자만 허용
              .replace(/(\d{4})(\d{0,2})/, '$1-$2') // YYYY-MM 형식
              .substr(0, 7); // 최대 7자리 제한
      $(this).val(formattedInput);
    });

    $('.historyY').on('blur', function () {
      console.log('Blur event fired for .historyY');
      let input = $(this).val();
      if (!/^\d{4}-\d{2}$/.test(input)) {
        $('.hMessage').text('YYYY-MM 형식으로 입력해 주세요.').css('color', 'red');
        $(this).val('');
      } else {
        $('.hMessage').text('');
      }
    });

    // $('.historyY').on('keypress', function (event) {
    //   if (/[a-zA-Z]/.test(String.fromCharCode(event.which))) {
    //     event.preventDefault();
    //   }
    // });

    // 연도 입력 처리 (4자리)
    // $('.saleY').on('input', function () {
    //   let input = $(this).val();
    //   let formattedInput = input
    //           .replace(/[^0-9]/g, '') // 숫자만 허용
    //           .substr(0, 4); // 최대 4자리 제한
    //   $(this).val(formattedInput);
    // });

    $('.saleY').on('blur', function () {
      console.log('Blur event fired for .saleY');
      let input = $(this).val();
      if (input.length !== 4) {
        $('.sMessage').text('유효하지 않은 양식입니다. 다시 입력해 주세요.').css('color', 'red');
        $(this).val('');
      } else {
        $('.sMessage').text('');
      }
    });

    $('.saleY').on('keypress', function (event) {
      if (!/[0-9]/.test(String.fromCharCode(event.which))) {
        event.preventDefault();
      }
    });
  });
</script>