<!-- templates/layout-test/parts/footer.html -->
<!DOCTYPE html>
<!--
    작성자: 구경림
    작성일: 2024.12.01
    파일 설명:
    푸터영역 템플릿

    + 모달 알림:
       - 페이지 내에서 알림을 표시할 수 있는 모달 영역 포함.
       - 알림의 제목과 내용을 동적으로 삽입할 수 있도록 구성.
       - 확인 버튼을 눌러 모달을 닫을 수 있음.
       - 모달 관련 동작을 처리하는 `alert.js` 파일을 포함하여, 알림 모달의 동작을 제어.
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="footer">
<footer>
    <div class="footer">
        <!-- 푸터 크레딧 영역 -->
        <div class="footer-credits">
            <div class="footer-logo">
                <img src="/static/images/footer_logo.png" alt="logo"/>
                <link rel="stylesheet" href="/static/css/modal/alert.css">
            </div>
            <p>@created by</p>
            <p>한우성</p>
            <p>김상준</p>
            <p>김재홍</p>
            <p>구경림</p>
        </div>
        <!-- 푸터 바닥 정보 -->
        <div class="footer-bottom">
            <p>© 2024 Green Career Project. All Rights Reserved.</p>
        </div>

        <!-- 모달 알림 -->
        <div class="modal-alert">
            <div class="modal-alert-wrap">
                <div class="modal-alert-title">
                    <span id="alert_title">alert 제목~</span>
                </div>
                <div class="modal-alert-content" id="alert_detail">
                </div>
                <div class="modal-alert-btn">
                    <button onclick="alert_modal.off()">확인</button>
                </div>
            </div>
        </div>

        <div class="modal-confirm">
            <div class="modal-confirm-wrap">
                <div class="modal-confirm-title">
                    <span id="confirm_title">confirm 제목~</span>
                </div>
                <div class="modal-confirm-content" id="confirm_detail">
                </div>
                <div class="modal-confirm-btn">
                    <button class="confirm-delete-ok">확인</button>
                    <button class="confirm-delete-ng">취소</button>
                </div>
            </div>
        </div>

        <script src="/static/js/alert.js"></script>
        <script src="/static/js/service-worker.js"></script>
</footer>
</html>
