<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="sidebar(userType)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" th:href="@{/static/css/layout/sidebar.css}">
  <title>Sidebar</title>
</head>
<body>
<div class="sidebar">
  <!-- 로고 -->
  <div class="sidebar-logo">
    <!-- 기업 로고 -->
    <a th:if="${userType == '기업'}" th:href="@{/company}">
      <img class="header-logo" src="/static/images/logo_company.png" alt="Company Logo">
    </a>

    <!-- 구직자 로고 -->
    <a th:if="${userType == '구직자'}" th:href="@{/}">
      <img class="header-logo" src="/static/images/logo_user.png" alt="User Logo">
    </a>

    <!-- 비회원 로고 -->
    <a th:if="${userType == '비회원'}" th:href="@{/}">
      <img class="header-logo" src="/static/images/logo.png" alt="Default Logo">
    </a>
  </div>
  <!-- 메뉴 리스트 -->
  <nav class="nav-section">
    <ul class="sidebar-list" th:if="${userType == '기업'}">
      <!-- 상위 메뉴 -->
      <li class="sidebar-item has-submenu">
        <a href="/mypage/dashboard">
          <i class="fas fa-home"></i> MY홈
        </a>
        <!-- 하위 메뉴 -->
        <ul class="submenu">
          <li><a href="/mypage/profile">내 정보 수정</a></li>
          <li><a href="/mypage/password">비밀번호 수정</a></li>
        </ul>
      </li>


      <li class="sidebar-item has-submenu">
        <a href="/mypage/">
          <i class="fas fa-file-alt"></i> 구직자 관리
        </a>
        <!-- 하위 메뉴 -->
        <ul class="submenu">
          <li><a href="/mypage/">북마크한 구직자 목록</a></li>
          <li><a href="/mypage/">기술스택 기반 이력서 조회</a></li>
          <li><a href="/mypage/">입사 제안 현황</a></li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a href="/mypage/">
          <i class="fas fa-star"></i> 기업 정보
        </a>
      </li>

      <li class="sidebar-item has-submenu">
        <a href="/mypage/">
          <i class="fas fa-cogs"></i> 고객 센터
        </a>
        <!-- 하위 메뉴 -->
        <ul class="submenu">
          <li><a href="/mypage/">문의하기</a></li>
          <li><a href="/mypage/">문의 확인</a></li>
        </ul>
      </li>
    </ul>
    <ul class="sidebar-list" th:if="${userType == '구직자'}">
      <!-- 상위 메뉴 -->
      <li class="sidebar-item has-submenu">
        <a href="/mypage/dashboard">
          <i class="fas fa-home"></i> MY홈
        </a>
        <!-- 하위 메뉴 -->
        <ul class="submenu">
          <li><a href="/mypage/profile">내 정보 수정</a></li>
          <li><a href="/mypage/password">비밀번호 수정</a></li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a href="/mypage/jobs">
          <i class="fas fa-briefcase"></i> 이력서 관리
        </a>
      </li>

      <li class="sidebar-item has-submenu">
        <a href="/mypage/resume">
          <i class="fas fa-file-alt"></i> 결과 확인
        </a>
        <!-- 하위 메뉴 -->
        <ul class="submenu">
          <li><a href="/mypage/results">지원 결과 확인</a></li>
          <li><a href="/mypage/offers">제안 내역 확인</a></li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a href="/mypage/messages">
          <i class="fas fa-star"></i> 관심 기업
        </a>
      </li>

      <li class="sidebar-item has-submenu">
        <a href="/mypage/settings">
          <i class="fas fa-cogs"></i> 고객 센터
        </a>
        <!-- 하위 메뉴 -->
        <ul class="submenu">
          <li><a href="/mypage/inquiries">문의하기</a></li>
          <li><a href="/mypage/inquiry-status">문의 확인</a></li>
        </ul>
      </li>
    </ul>
    <ul class="sidebar-list" th:if="${userType == '비회원'}">
      <!-- 상위 메뉴 -->
      <li class="sidebar-item has-submenu">
        <a href="/mypage/dashboard">
          <i class="fas fa-home"></i> MY홈
        </a>
        <!-- 하위 메뉴 -->
        <ul class="submenu">
          <li><a href="/mypage/profile">회원가입</a></li>
          <li><a href="/mypage/password">로그인</a></li>
        </ul>
      </li>
  </nav>
</div>
</body>
</html>
