/* 공통 색상 */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --text-color: #212529;
    --text-a-color: #35393d;
    --text-highlight-color: #11406a;
    --border-color: #e0e0e0;
    --section-background-color:#fbfbfb;
}