<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.green.career.dao.LikesDao">

    <select id="getLikesCnt" resultType="Integer">
        SELECT COUNT(*)
        FROM tbl_likes a
        WHERE a.id = #{id}
        AND a.l_gbn_cd = #{lGbnCd}
        AND a.cj_no = #{cJNo};
    </select>

    <insert id="insertLikes">
        INSERT INTO tbl_likes(
            id,
            l_gbn_cd,
            cj_no
        )VALUES(
            #{id},
            #{lGbnCd},
            #{cJNo}
        );
    </insert>

    <delete id="deleteLikes">
        DELETE FROM tbl_likes
        WHERE id = #{id}
        AND l_gbn_cd = #{lGbnCd}
        AND cj_no = #{cJNo}
    </delete>

    <select id="getLikes" resultType="org.green.career.dto.likes.response.ResponseLikesDto">
        SELECT
            a.j_no,
            COUNT(e.l_no) AS b_count,
            COUNT(e2.l_no) AS s_count
        FROM tbl_job_open a
                 LEFT JOIN tbl_likes e ON e.id = #{userId} AND e.l_gbn_cd = 'B' AND e.cj_no = #{companyId}
                 LEFT JOIN tbl_likes e2 ON e2.id = #{userId} AND e2.l_gbn_cd = 'S'  AND e2.cj_no = #{jobId}
        WHERE a.j_no = #{jobId}
        GROUP BY a.j_no
    </select>

</mapper>