<!DOCTYPE html>
<!--
    작성자: 구경림
    작성일: 2024.12.01
    파일 설명:
        기존의 user_main 페이지를 레이아웃 적용해보기위해 따로 만든 페이지
        <main layout:fragment="content"></main> 안의 내용은 user_main.html의 내용을 복붙함.
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout-test/layout/main_layout}"
>
<head>
  <meta charset="UTF-8">
  <title>기업 메인</title>
  <link rel="stylesheet" href="/static/css/main/index.css">
  <link rel="stylesheet" href="/static/css/common/skillBox.css">
  <link rel="stylesheet" href="/static/css/common/paging.css">

</head>
<body>
<main layout:fragment="content">
  <div class="flex1 mt70 mar-center">
    <div class="main-list-wrapper">
      <div class="main-list-container">
        <div class="job-card" th:each="jobItem : ${jobList}"
             th:attr="data-jNo=${jobItem.JNo}, data-id=${jobItem.id}">
          <div class="card-image">
            <div class="card-overlay">
              <span class="days-left" th:text="${jobItem.leftDate}">D-11</span>
              <i th:class="'bi ' + ${jobItem.scrapCnt == 0 ? 'bi-bookmark ' : 'bi-bookmark-fill '} + 'scrap-icon '"
                 id="bookmark-icon"></i>
            </div>
            <a th:href="@{/job-open/detail/{jNo}(jNo=${jobItem?.JNo})}">
              <img th:src="@{${jobItem.fileUrl != null and !jobItem.fileUrl.isEmpty() ? jobItem.fileUrl : '/static/images/empty_company.png'}}"
                   alt="회사 이미지">
            </a>
          </div>
          <div class="card-header">
            <div class="card-header-box">
              <span class="company-name" th:text="${jobItem.name}">삼성전자</span>
              <i th:class="'bi ' + ${jobItem.bookmarkCnt == 0 ? 'bi-heart ' : 'bi-heart-fill '} + 'heart-icon'"
                 id="heart-icon"></i>
            </div>
          </div>

          <div class="card-body">
            <h3 class="job-title" th:text="${jobItem.JTitle}">백엔드개발자 - 테크리드 (테크사업부)</h3>
            <div class="job-location">
              <span th:text="${jobItem.workPlace}">경기도</span> | <span
                    th:text="${jobItem.workType}">경력 3년</span>
            </div>
            <div class="skill-tags" th:if="${not #lists.isEmpty(jobItem.skills)}">
                                    <span th:each="skill : ${jobItem.skills}" class="skill-tag"
                                          th:text="${skill}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination-wrapper">
      <nav class="pagination-nav">
        <ul class="pagination">
          <!-- 처음 버튼 -->
          <li th:classappend="${paging.firstPageBtn ? '' : 'disabled'}">
            <a class="page-link" th:href="@{|/?page=1|}" aria-label="처음">&laquo;</a>
          </li>

          <!-- 이전 버튼 -->
          <li th:classappend="${paging.prevBtn ? '' : 'disabled'}">
            <a class="page-link" th:href="@{|/?page=${paging.startPage - 1}|}"
               aria-label="이전">&lt;</a>
          </li>

          <!-- 페이지 번호 -->
          <li th:each="i : ${#numbers.sequence(paging.startPage, paging.endPage)}"
              th:classappend="${paging.currentPage == i ? 'active' : ''}">
            <a class="page-link" th:href="@{|/?page=${i}|}" th:text="${i}"></a>
          </li>

          <!-- 다음 버튼 -->
          <li th:classappend="${paging.nextBtn ? '' : 'disabled'}">
            <a class="page-link" th:href="@{|/?page=${paging.endPage + 1}|}"
               aria-label="다음">&gt;</a>
          </li>

          <!-- 마지막 버튼 -->
          <li th:classappend="${paging.lastPageBtn ? '' : 'disabled'}">
            <a class="page-link" th:href="@{|/?page=${paging.totalPage}|}"
               aria-label="마지막">&raquo;</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <script src="/static/js/main/user_main.js"></script>
  <!--    <button onclick="alert_modal.on('알림', '홈페이지에 오신 것을 환영합니다.')">모달 열기</button>-->
</main>
</body>
</html>