<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <style>
        </style>
    </head>
    <body>

        <div class="flex-row">
            <div style="width: 300px;" th:insert="~{layout/user_side}"></div>
            <div style="flex: 1" class="flex-column">
                <div th:insert="~{layout/header_no_logo}"></div>
                <h1> test</h1>
            </div>
        </div>
        <footer th:insert="~{layout/footer}"></footer>
    </body>
</html>
