.modal-alert.on{
    z-index: 9999999;
    display: flex;
}

.modal-alert{
    width: 100%;
    height: 100vh;
    background-color: rgba(140, 140, 140, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-alert-wrap{
    z-index: 9999999;
    width: 500px;
    height: 200px;
    background-color: white;
    border: 1px solid #797979;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #797979;
}

.modal-alert-title{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.modal-alert-content{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 49%;
    word-break: break-all;
    overflow-y: auto;
}

.modal-alert-btn{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-alert-btn button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #6f6fff;
    font-size: 19px;
    color: white;
    box-shadow: 4px 4px 4px #818181;
}



.modal-confirm.on{
    z-index: 9999999;
    display: flex;
}

.modal-confirm{
    width: 100%;
    height: 100vh;
    background-color: rgba(140, 140, 140, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-confirm-wrap{
    z-index: 9999999;
    width: 500px;
    height: 200px;
    background-color: white;
    border: 1px solid #797979;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #797979;
}

.modal-confirm-title{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.modal-confirm-content{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 49%;
    word-break: break-all;
    overflow-y: auto;
}

.modal-confirm-btn{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-alert-btn button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #6f6fff;
    font-size: 19px;
    color: white;
    box-shadow: 4px 4px 4px #818181;
}

.confirm-delete-ok{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #6f6fff;
    font-size: 19px;
    color: white;
    box-shadow: 4px 4px 4px #818181;
}

.confirm-delete-ng{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #ff6f6f;
    font-size: 19px;
    color: white;
    box-shadow: 4px 4px 4px #818181;
}


