<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout-test/layout/mypage_layout}"
>
    <head>
        <meta charset="UTF-8">
        <title>asd</title>

        <link rel="stylesheet" href="/static/css/company/jbskMngm/job_stack_offer.css">
        <link rel="stylesheet" href="/static/css/common/skillBox.css">
        <link rel="stylesheet" href="/static/css/common/paging.css">
    </head>
    <body>
        <main layout:fragment="content">
            <div class="content-title font-bold">
                <span>기술스택 기반 채용공고</span>
            </div>
            <div class="content-detail" style="width: 1100px">

                <div class="skill-container w100p mt20">

                    <!-- 왼쪽 패널 -->
                    <div class="left-panel" id="categoryPanel">
                        <button class="category-btn active" data-cd="" data-upcd="">
                            전체
                        </button>
                        <th:block th:each="stack : ${stackList}">
                            <button class="category-btn" th:text="${stack.cdNm}"
                                    th:attr="data-cd=${stack.cd}, data-upcd=${stack.upCd}"
                                    th:if="${stack.upCd == 'stack_cd'}">
                            </button>
                        </th:block>
                    </div>

                    <!-- 오른쪽 패널 -->
                    <div class="right-panel">
                        <div class="skills-list">
                            <!-- "전체 선택" 항목 -->
                            <div class="skill-item select-all" data-upcd="" data-cd="">
                                <label>
                                    <input type="checkbox" value="all">
                                    <sapn>전체</sapn>
                                </label>
                            </div>
                            <th:block th:each="stack : ${stackList}">
                                <th:block th:if="${stack.upCd != 'stack_cd'}">
                                    <!-- 각 스킬 항목 -->
                                    <div class="skill-item on" th:attr="data-upcd=${stack.upCd}, data-cd=${stack.cd}">
                                        <label>
                                            <input type="checkbox" name="skills" th:value="${stack.cd}"
                                                   th:checked="${#lists.contains(stacks, stack.cd)}">
                                            <span th:text="${stack.cdNm}"></span>
                                        </label>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>

                </div>
                <div class="search-panel">
                    <input type="text" id="search" placeholder="채용 검색" th:value="${search}">
                    <button id="search-btn" class="mr20">확인</button>
                    <!--                    <button id="reset-btn">초기화</button>-->
                </div>
                <div class="selected-skills">
                    <!--                    <th:block th:each="stack : ${stacks}">-->
                    <!--                        <div class="selected-skill" th:attr="data-stackcd=${stack}">-->
                    <!--                            [[${stack}]]-->
                    <!--                            <span class="close">×</span>-->
                    <!--                        </div>-->
                    <!--                    </th:block>-->
                </div>

                <div class="main-list-wrapper">
                    <div class="main-list-container">


                        <!-- Job Card 1 -->
                        <th:block th:each="offer: ${list}">

                            <div class="card pos-relative" th:attr="data-jno=${offer.rNo}, data-id=${offer.id}">
                                <div class="card-body">
                                    <div class="card-header" th:text="${offer.rTitle}">
                                    </div>
                                    <div class="card-content">
                                        <div>
                                            <div class="info-row">
                                                <img src="https://img.icons8.com/ios-glyphs/30/000000/briefcase.png"
                                                     alt="경력 아이콘">
                                                <span th:text="'경력 ' + ${offer.career} + '년'">경력 3년</span>
                                            </div>
                                            <div class="info-row">
                                                <img src="https://img.icons8.com/ios-glyphs/30/000000/map-marker.png"
                                                     alt="지역 아이콘">
                                                <!--                                    희망 지역: 부산 전 지역-->
                                                <span th:text="${offer.addr}"></span>
                                            </div>
                                            <div class="info-row">
                                                <img src="https://img.icons8.com/ios-glyphs/30/000000/code.png"
                                                     alt="직무 아이콘">
                                                <div th:if="${not #lists.isEmpty(offer.stacks)}">
                                                    <th:block th:each="stack, status : ${offer.stacks}">
                                            <span th:text="${stack.stackNm}"
                                                  th:title="${stack.stackNm}"></span>
                                                        <span th:if="${status.index < offer.stacks.size() - 1}"
                                                              th:text="' | '"></span>
                                                    </th:block>
                                                </div>
                                            </div>
                                            <div class="info-row pos-absolute bottom-30">
                                                <button class="offer-btn">제안하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-img">
                                    <img th:src="${offer.fileUrl + '/' + offer.fileId + '.' + offer.fileExt}"
                                         onerror="this.src='/static/images/default_profile.png'">
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>

                <div class="pagination-wrapper">
                    <nav class="pagination-nav">
                        <ul class="pagination">
                            <!-- 처음 페이지 버튼 -->
                            <li th:class="${paging.firstPageBtn ? 'page-item' : 'page-item disabled'}">
                                <a class="page-link"
                                   th:attr="data-page=${paging.firstPageBtn ? 1 : 1}"
                                   aria-label="처음">&laquo;</a>
                            </li>

                            <!-- 이전 페이지 버튼 -->
                            <li th:class="${paging.prevBtn ? 'page-item' : 'page-item disabled'}">
                                <a class="page-link"
                                   th:attr="data-page=${paging.prevBtn ? paging.startPage - 1 : 1}"
                                   aria-label="이전">&lt;</a>
                            </li>

                            <!-- 페이지 번호 리스트 -->
                            <li th:each="i : ${#numbers.sequence(paging.startPage, paging.endPage)}"
                                th:class="${paging.currentPage == i ? 'page-item active' : 'page-item'}">
                                <a class="page-link"
                                   th:attr="data-page=${i}"
                                   th:text="${i}"></a>
                            </li>

                            <!-- 다음 페이지 버튼 -->
                            <li th:class="${paging.nextBtn ? 'page-item' : 'page-item disabled'}">
                                <a class="page-link"
                                   th:attr="data-page=${paging.nextBtn ? paging.endPage + 1 : 1}"
                                   aria-label="다음">&gt;</a>
                            </li>

                            <!-- 마지막 페이지 버튼 -->
                            <li th:class="${paging.lastPageBtn ? 'page-item' : 'page-item disabled'}">
                                <a class="page-link"
                                   th:attr="data-page=${paging.lastPageBtn ? paging.totalPage : 1}"
                                   aria-label="마지막">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>

    </body>
</html>

<script src="/static/js/company/jbskMngm/job_stack_offer.js"></script>

